html{padding: 0;
    margin: 0;}
    
    body{
        margin: 0;
        padding: 0;
        height: 100%;
        font-family: Arial;
        background-image: linear-gradient(45deg,   #95BAD5,#00001a);
        object-fit: cover;
    }
    
    .centerdiv{
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        padding: 0;
    }
    
    .container {
        padding: 0;
        display: flex;
        flex-direction: row;
        height: 36.1rem;
        margin: 1rem 6rem 1rem 6rem;
    }
    
    .signincont {
        height: 30rem;
        margin: 0;
        background-color: #3A3B3C;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
        border-radius: 1rem;
        display: flex;
        flex-direction: column;
        padding: 2rem;
    }
    
    .buttoncont{
        margin: 0;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

    }

    .buttoncont h1{
        color: white;
    }
    
    .formcont{
        display: flex;
        flex-direction: column;
    }
    
    .formcont div p{
        color: #FFFFFF;
        font-size: medium;
    }
    
    .formcont div input{
        padding: .5rem;
        height:2rem ;
        width: 25rem ;
        background-color:#3A3B3C;
        border-style: none;
        border: #606264 solid 2px;
        border-radius: 10rem;
        color: lightgray;
        font-size: medium;
    }
    

    .emailcont{
        margin-top: 1.5rem;
    }

    .password-container {
        flex-direction: row;
        display: flex;
        justify-self:center;
        align-items: center;
      }
      
      .password-container p {
        margin-right: 10px; /* Adjust spacing between "Password" text and toggle button */
      }
    
    .toggle-password {
        cursor: pointer;
        font-size: medium;
    }

    .sgnUPcont{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .sgnUP{
        width: 20rem;
        height: 3rem;
        background-color: black;
        border: none;
        border-radius: 10rem;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
        color: #FFFFFF;
        font-size: large;
        font-weight: bolder;
        margin-top: 2rem;
        transition:background-color 0.3s ease, box-shadow 0.3s ease, background-image 0.3s ease;
    }
    
    .sgnUP:hover{
        background-image: linear-gradient(to right, #00001a, #000000);
        cursor: pointer;
    }
    
    .sgnUP:active{
        background-image: linear-gradient(to right, #3A3B3C, #000000);
        box-shadow: inset 0 4px 12px rgba(0, 0, 0, 0.2);
    }
    
    .imgcont {
        margin: 0;
        padding: 0;
        flex: 1;
    }
    
    .imgcont img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }