body,html{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    font-family: sans-serif;
}
.bgpic{
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    background-image: url(/picture/bikers\ in\ a\ field.jpg);
    filter: blur(2px);
     -webkit-filter: blur(2px);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    justify-content: center;
    animation: change 17s infinite linear;
}
.bgcolored {
    padding: 0;
    position: absolute;
    margin-top: 3.75rem;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(79, 111, 82, .4);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items:start;
}
.content_cont {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50vh; /* Adjust as needed */
    padding-bottom: 10px;
    text-align: center;
    text-transform: uppercase;
}
.heading {
    padding: 0;
    margin: 0;
    align-self: flex-start; /* Aligns heading to the top */
}

.description {
    padding: 0;
    margin: 0;
    display: flex;
    justify-items: center;
    align-items: center;
    align-self: flex-start; /* Aligns description to the bottom */
}
.heading h1 {
    padding: 0;
    margin: 0;
    color: #E8DFCA;
    font-size:100px;
}
.lwrcase{
    text-transform: lowercase;
}
.h1clr{
    color:#164127;
}
.description p {
    padding: 0;
    margin: 0 ;
    margin-top: 1.5rem;
    margin-left: 2.5rem;
    font-size: 18px;
    color: #E8DFCA;
}

@keyframes change{
    0%
    {
        background-image: url(/picture/bikers\ in\ a\ field.jpg);
    }
    20%
    {
        background-image: url(/picture/bikes.jpg);
    }
    40%
    {
        background-image: url(/picture/bikers\ in\ a\ field.jpg);
    }
    60%
    {
        background-image: url(/picture/bikes.jpg);
    }
    80%
    {
        background-image: url(/picture/bikers\ in\ a\ field.jpg);
    }
    100%
    {
        background-image: url(/picture/bikes.jpg);
    }
}